---
layout: default
---
{% assign forum = site.data.forum_archive.forums | where: 'fid', page.fid | first %}
{% assign hero_class = 'forum-' | append: page.fid %}
{% capture breadcrumb %}
<li class="is-active"><a href="#" aria-current="page">{{ forum.name }}</a></li>
{% endcapture %}
{%
  include hero.html class=hero_class title=forum.name
  subtitle=forum.brief breadcrumb=breadcrumb
%}

<div class="container">
  {% assign forum_threads = site.data.forum_archive.threads | where: 'fid', page.fid | sort: 'last_date' | reverse %}
  {% if forum_threads.size > 0 %}
    <table class="table is-fullwidth is-hoverable thread-table">
      <thead>
        <tr>
          <th>主题</th>
          <th class="has-text-centered" style="width: 80px">回复</th>
          <th class="has-text-centered" style="width: 80px">浏览</th>
          <th style="width: 150px">最后回复</th>
        </tr>
      </thead>
      <tbody>
        {% for thread in forum_threads %}
          <tr>
            <td data-label="subject">
              <a
                href="{{ '/thread/' | append: thread.tid | append: '/' | relative_url }}"
              >
                {{ thread.subject }}
              </a>
              <span class="tag-list">
                {%
                  include thread_tags.html tid=thread.tid
                  top=thread.top show_pinned=true
                %}
              </span>
              <small class="has-text-grey thread-metadata">
                {% include user_link.html uid=thread.uid %}
                <span>{{ thread.create_date | date: '%Y-%m-%d' }}</span>
              </small>
            </td>
            <td class="has-text-centered" data-label="replies">
              {{ thread.posts }}
            </td>
            <td class="has-text-centered" data-label="views">
              {{ thread.views }}
            </td>
            <td data-label="last-reply">
              <small class="last-reply-content">
                <span>{% include user_link.html uid=thread.lastuid %}</span>
                <span class="has-text-grey">{{ thread.last_date | date: '%Y-%m-%d %H:%M' }}</span>
              </small>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="notification my-5">此版块暂无帖子</div>
  {% endif %}
</div>
